.home{
    height: 604px;
    width: 100%;
    color: white;
    background-image: linear-gradient(to bottom, #250698, #0038af, #0057bd, #0072c4, #008bc7, #009dcc, #00aecc, #00bec7, #00cdbf, #00daa3, #00e575, #08ec26);
}
